/**
 * App spacing values (padding, margin,...)
 */

$spacing-xs: 4px;
$spacing-x: 8px;
$spacing-m: 12px;
$spacing-l: 16px;
$spacing-xl: 24px;
$spacing-xxl: 32px;
$spacing-xxxl: 48px;
$spacing-sxl: 80px;
